body{
    font-family: trebuchet ms, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("../Blackjack/assets/download\ \(3\).jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 0.1rem;
}

h1{
    color: rgb(255, 255, 0);
    font-size: 6rem;
    margin-top: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
p{
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#message{
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    font-weight: 600;
    margin-top: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

#start-btn{


    background-color: goldenrod;
    color: #016f32;
    width : 450px;
    padding: 15px 25px;
    /* padding: 45px; */
    font-size: 1.5rem;
    border: none;
    border-radius: 26px;
    font-weight: 700;
    margin-top: 0.5rem;
}
.btn{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin:20px auto; */
}

#new-card-btn{
    background-color: goldenrod;
    color: #016f32;
    width : 450px;
    padding: 15px 25px;
    /* padding: 45px; */
    font-size: 1.5rem;
    border: none;
    border-radius: 26px;
    font-weight: 700;
    margin-top: 0.5rem;
}
#start-btn:hover, #new-card-btn:hover{
    background-color: rgb(205, 154, 26)
}

#player{
    padding-top: 0.6rem;
}
